
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"  crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

  
     <link href="../css/style.css" rel="stylesheet"  crossorigin="anonymous">


<nav class="navbar navbar-expand-md navbar-dark bg-dark">

<div class="container">
  <a class="navbar-brand navbar-logo" href="/"> <img src="../img/logo-fpo-bazaar-beta.png" class="img-fluid" alt="Web Development"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse justify-content-end cf" id="navbarSupportedContent">
  
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/" style="color: #fbae17;">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Auction</a>
      </li>
      <!--<li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">
          Services
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Photography</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">View Our Portfolio</a>
        </div>
      </li>-->
                <li class="nav-item">
                    <a class="nav-link btn btn-success" href="/login">Login</a>
                </li>
    </ul>
  </div>
  </div>
</nav>

<!-- Begin Social Share -->
<style>
	.btn:hover {
		color: white;
		opacity: .8;
		transform: scale(1.05);
	}
    
</style>
<!-- Button trigger modal -->
<button type="button" class="btn btn-lg btn-danger" style="position: absolute; right: 7px; bottom: 7px;transition: transform .3s ease;" data-toggle="modal" data-target="#socialModal">
  Subscribe!
</button>
<!-- Modal -->
<div class="modal fade" id="socialModal" style="font-family: 'Poppins', sans-serif;">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content" style="background-color: rgba(255, 255, 255, .9)!important;border: 0;">
      <div class="modal-header" style="display: none;">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
			<div class="modal-body">
				<div class="container-fluid text-center">
					<div class="row justify-content-center px-0">
						<div class="col-12">
							<h2 class="pt-2 pb-4">Subscribe & turn on notifications! <i class="fas fa-bell"></i></h2>
						</div>
						<div class="col-lg-5 my-2">
							<!-- YOUTUBE CHANNEL -->
							<a class="btn btn-lg" href="" target="_blank" style="background-color: red;color: white;transition: transform .3s ease;"><i class="fab fa-youtube"></i> Subscribe
							</a>
						</div>
						<div class="col-12">
							<h6 class="pt-4 pb-0"><a href="www.mandi.fpobazartechcom" target="_blank">www.mandi.fpobazartechcom</a></h6>
						</div>
					</div>
				</div>
			</div>
    </div>
  </div>
</div>


